<h1>Fitness Classes</h1>

<% @gym_classes.each do |gym_class| %>

<div class="gym_class">
  <p>Class: <%= gym_class.name() %> </p>
  <p><a href="/classes/<%=gym_class.id%>">View Details</a></p>
  <p><a href="/classes/<%=gym_class.id%>/edit">Edit Class</a></p>
  <form action="/classes/<%=gym_class.id%>/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete class" />
  </form>
  <hr />
</div>

<%end%>
