<form action="/classes" method="post">

<label for="class-name">Class Name:</label>
<input type="text" name="class_name" >

<label>

<label for="price">Price:</label>
<input type="text" name="price" >
</label>
<input class="btn btn--action" type="submit" value="Create Class">
</form>
