<h1>This weeks Classes</h1>

<table class="center">
  <tr>


  <th>Class</th>
  <th>Member</th>

</tr>



  <% @gym.each do |gym_class_member|%>
  <tr>
    <td><%= gym_class_member.gym_class.class_name  %></td>
    <td><%= gym_class_member.member.pretty_name %></td>

  </tr>
  <% end %>


</table>
