<% @gym.each do |gym_class_member|%>
<p><%= gym_class_member.id  %></p>

<% @gym_classes.each do |gym_class|%>
<p><%= gym_class.id  %></p>

<% @members.each do |member|%>
<p><%= member.id  %></p>
<%end%>
