body, html {
  background: url('/images/fitnessf-background-14.jpg');
  background-size: cover;
  color: papayawhip;
  font-family: 'Merriweather', serif;
  padding: 0px;
  margin: 0px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


h1 {
  color: white;
  text-align: center;

}

a, a:link, a:visited {
  color: white;
  text-align: center;

}
a:hover, a:active, a:focus {
  color: yellow;
}


div.member, div.gym_class, li.register {
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}
}


/* nav {
  padding: 0px;
  margin: 0px;
  padding-right: 25px;
}


nav ul li {
  margin-bottom: 15px;
  text-transform: uppercase;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

main {
  padding: 25px;
}

nav {
  color: white;
}

body {
  color: white;
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
    color: white;
}

#content {
  border-left: 1px solid darkred;
  padding-left: 25px;
} */
